.navBar-item{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
    gap: 8px;
}

.userIcon{
    font-size: 16px;
    font-style: normal;
}

.navBar-item:hover{
    text-decoration: underline;
}

.main-nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width: 769px){
    .navBar-item{
        font-size: 15px;
        gap: 4px;
        justify-content: center;
    }
}
