
.App-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.App-logo{
    max-width: 100%;
    width: 200px;
}

@media screen and (max-width: 769px){
    .App-logo{
        max-width: 100%;
        width: 150px;
    }

    .App-header{
        gap: 20px;
    }
}